// colors
$color-primary: #efefef;
$color-primary-light: #ffffff;
$color-primary-dark: #e5e5e5;
$color-secondary: #333333;
$color-secondary-light: #5c5c5c;
$color-secondary-dark: #0c0c0c;
$color-alt: #dfea0a;
$color-alt-light: #ffff57;
$color-alt-dark: #a9b800;

$cursor-color: black;

// fonts
$text-light: #ffffff;
$text-dark: #0d0d0d;
