@import './variables.scss';

body {
	color: $text-dark;
	background-color: $color-primary;
	font-family: 'Noto Sans', sans-serif;
}

a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
	transition: 0.5s;

	&:hover {
		color: $color-alt;
	}
}
