@import './variables';

body {
	color: $text-on-primary;
	background-color: $color-primary;
	font-family: 'Noto Sans', sans-serif;
}

a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
	transition: 0.15s;
	text-decoration: underline;
	text-decoration-color: transparent;

	&:hover {
		text-decoration-color: initial;
	}
}
