// colors
$color-primary: #151515;
$color-primary-light: #3a3a3a;
$color-primary-dark: #000000;
$color-secondary: #333333;
$color-secondary-light: #5c5c5c;
$color-secondary-dark: #0c0c0c;
$color-alt: #dfea0a;
$color-alt-light: #ffff57;
$color-alt-dark: #a9b800;

// fonts
$text-on-primary: #ffffff;
$text-on-secondary: #0d0d0d;

// shadows
$shadow-light: rgba(0, 0, 0, 0.12) 0px 2px 1px -1px,
	rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
$shadow-string: rgba(0, 0, 0, 0.12) 0px 3px 3px -2px,
	rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;

// breakpoints
$breakpoints: (
	'sm': 576,
	'md': 768,
	'lg': 992,
	'xl': 1200,
	'xxl': 1400,
);
